:root {
  --primary: #1300EF;
  --secondary: #9c45ff;   
  --black: #041541;
  --light: #eeee;
  --op: #0414A9;


}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
  background-color: var(--light);
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #ffff;
   border-radius:16px ;
   overflow: hidden;
   box-shadow: 0px 2px 64px rgba(37, 76, 250, 0);
}

.bg_display{
  padding-top: 30px;
  text-align:right;
  background-color: var(--black);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
  height: 120px;
  
}

.display{
  background: #0414A9;
box-shadow: 0px 4px 28px 1px rgba(51, 157, 255, 0.18);
height: 60px;
padding: 12px;

}

button{
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;

}

button:hover {
  opacity: 0.5;
}

.operators{
  display: flex;
  background-color: #041541;
  padding: 10px;
}

.operators button{
  flex: 1 1 0%;
  font-weight: 700;
  background: #1300EF;
  box-shadow: 0px 4px 33px 2px rgba(75, 71, 255, 0.24);
  border-radius: 10px;
  margin: 3px;
  width: 50px;
  text-align: center;  
  font-size: 16px;
}

.digits{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black);
  
}

.digits button{
  flex: 1 1 33.3333%;
  max-width: 25%;
  background-color: var(--dark);
  font-size: 18px;
  margin: 3.5%;
  box-shadow: 0px 4px 10px 2px rgba(37, 13, 255, 0.205);

  border-radius: 10px;
}